<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>読書記録　詳細</title>
<link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
<script>
	////フッター表示
//  fetch("/footer.html")
//    .then((response) => response.text())
//    .then((data) => document.querySelector("#footer").innerHTML = data);

</script>
</head>

<body>
	<h1>読書記録　詳細</h1>
	<!--Flashメッセージの表示-->
	<p th:if="${errorMessage}"
		th:text="${errorMessage}" style="color: deeppink;">
		エラーメッセージ
	</p>
<main>
	<table border="1" width="500">
		<tr>
			<th>ID</th>
			<td th:text="${bookrecord.id}"></td>
		</tr>
		<tr>
			<th>状態</th>
				<!-- 状態に応じて画像を切り替え -->
				<td><span th:switch="${bookrecord.book_status}">
					<span th:case="'読了'">
						<img th:src="@{/image/icon_done.png}" width="60" alt="読了">
					</span>
					<span th:case="'積読'">
						<img th:src="@{/image/icon_tsundoku.png}" width="60" alt="積読">
					</span>
					<span th:case="'読書中'">
						<img th:src="@{/image/icon_dokusyo.png}" width="60" alt="読書中">
					</span>
				</span>
			</td>
		</tr>
		<tr>
			<th>本の種類</th>
			<td th:text="${bookrecord.book_type}"></td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td th:text="${bookrecord.title}"></td>
		</tr>
		<tr>
			<th>著者</th>
			<td th:text="${bookrecord.author}"></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td th:text="${bookrecord.publisher}"></td>
		</tr>
		<tr>
			<th>読書開始日</th>
			<td th:text="${bookrecord.date_start}"></td>
		</tr>
		<tr>
			<th>読了日</th>
			<td th:text="${bookrecord.date_finished}"></td>
		</tr>
		<tr>
			<th>購入日</th>
			<td th:text="${bookrecord.date_purchase}"></td>
		</tr>
		<tr>
			<th>価格</th>
			<td th:text="${bookrecord.price}"></td>
		</tr>
		<tr>
			<th>読書感想文</th>
			<td th:text="${bookrecord.impression}"></td>
		</tr>
		<tr>
			<th>書影</th>
			<td>
				<img th:src="@{${bookrecord.image_url}}" alt="書籍の表紙" style="max-width: 150px; height: auto;" />	
			</td>
		</tr>
		<tr>
			<th>本を探す
				<td>
					<a th:href="'https://www.google.com/search?q=' + ${bookrecord.title} + '+' + ${bookrecord.author}" target="_blank">
			       <button>Googleで検索</button>
					</a>
				</td>
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<div style="display: flex; justify-content: center; gap: 10px;">
					<button class="btn-edit" th:onclick="|location.href='@{/bookrecordtable/edit/{id}(id=${bookrecord.id})}'|">編集する</button>
					<form th:action="@{/bookrecordtable/delete/{id}(id=${bookrecord.id})}" method="post">
<!--						<button id="deleteButton" class="btn-delete" type="submit">この本を削除する</button>-->
<button id="deleteButton" class="btn-delete" type="submit" onclick="return confirmDelete()">この本を削除する</button>

<script>
    function confirmDelete() {
        // 確認ダイアログを表示
        return confirm("本当に削除してもよろしいですか？");
    }
</script>
						
					</form>
				</div>
			</td>
		</tr>
	</table>
	
	<hr width="80%">
	<center>
	<button th:onclick="|location.href='@{/bookrecordtable}'|">読書リスト 一覧へ</button>
	</center>
</main>

<!--	 <div id="footer"></div>-->
</body>
</html>