<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>読書記録　詳細</title>
<link th:href="@{/stylesheet.css}" rel="stylesheet" />
</head>

<body>
	<h2>読書記録　詳細</h2>
	<!--Flashメッセージの表示-->
	<p th:if="${errorMessage}"
		th:text="${errorMessage}" style="color: deeppink;">
		エラーメッセージ
	</p>
	
	<table border="1" width="500">
		<tr>
			<th>ID</th>
			<td th:text="${bookrecord.id}"></td>
		</tr>
		<tr>
			<th>状態</th>
			<td th:text="${bookrecord.book_status}"></td>
		</tr>
		<tr>
			<th>本の種類</th>
			<td th:text="${bookrecord.book_type}"></td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td th:text="${bookrecord.title}"></td>
		</tr>
		<tr>
			<th>著者</th>
			<td th:text="${bookrecord.author}"></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td th:text="${bookrecord.publisher}"></td>
		</tr>
		<tr>
			<th>読書開始日</th>
			<td th:text="${bookrecord.date_start}"></td>
		</tr>
		<tr>
			<th>読了日</th>
			<td th:text="${bookrecord.date_finished}"></td>
		</tr>
		<tr>
			<th>購入日</th>
			<td th:text="${bookrecord.date_purchase}"></td>
		</tr>
		<tr>
			<th>価格</th>
			<td th:text="${bookrecord.price}"></td>
		</tr>
		<tr>
			<th>読書感想文</th>
			<td th:text="${bookrecord.impression}"></td>
		</tr>
<!--		<tr>-->
<!--			<th>書影</th>-->
<!--			<td>-->
<!--				<img th:src="${imagePath}" alt="書影" />-->
<!--			</td>-->
<!--		</tr>-->
		<tr>
			<th>本を探す
				<td>
					<a th:href="'https://www.google.com/search?q=' + ${bookrecord.title} + '+' + ${bookrecord.author}" target="_blank">
			       <button>Googleで検索</button>
					</a>
				</td>
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<center>
				<button class="btn-edit" th:onclick="|location.href='@{/bookrecordtable/edit/{id}(id=${bookrecord.id})}'|">編集する</button>
				<form th:action="@{/bookrecordtable/delete/{id}(id=${bookrecord.id})}" method="post">
					<button class="btn-delete" type="submit">この本を削除する</button>
				</form>
				
				</center>
			</td>
		</tr>
	</table>
	
	<center>
	<button th:onclick="|location.href='@{/bookrecordtable}'|">読書リスト 一覧へ</button>
	</center>

</body>
</html>