<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>読書記録　一覧</title>
<link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>

<body>
	<h1 th:text="${#authentication.principal.displayname}+さんの読書リスト"></h1>
	
<!--メッセージと新規登録ボタンのエリア-->
	<table class="table-invisible">
		<tr class="table-invisible">
		<!--Flashメッセージの表示-->
			<td  class="table-invisible" style="width: 80%;">
				<center>
					<p class="p-flash" th:if="${message}" th:text="${message}" style="color: indianred;">完了メッセージ
					</p>
					<p class="p-flash" th:if="${errorMessage}"
						th:text="${errorMessage}" style="color: deeppink;">
						エラーメッセージ
					</p>
					</center>
			</td>
		<!--新規登録ボタン-->
			<td  class="table-invisible" style="width: 20%;"> 
				<div align="right">
					<button class="btn-edit" th:onclick="|location.href='@{/bookrecordtable/form}'|">新しい本を登録する</button>
				</div>
			</td>
		</tr>
<!--外部サイトへ本探しエリア-->
		<tr>
			<td colspan="2" class="table-invisible">
				<a href="https://www.e-hon.ne.jp/bec/SE/Genre?ccode=99&dcode=06" target="_blank">紙の本 ランキング</a>　<a href="https://honto.jp/ranking.html" target="_blank">電子書籍 ランキング</a>
			</td>
		</tr>
	</table>
	
<!--一覧表　ここから-->
	<table class="table-list">
 		<thread>
			<tr>
				<th class="table-list">ID</th>
				<th class="table-list">ステータス</th>
				<th class="table-list">お気に入り</th>
				<th class="table-list">書影</th>
				<th class="table-list">タイトル</th>
				<th class="table-list">著者</th>
				<th class="table-list">読書開始日</th>
				<th class="table-list">読了日</th>
				<th class="table-list">詳細/<br>編集</th>
				<th class="table-list">Google<br>検索</th>
			</tr>
		</thread>
		<tbody>
			<tr th:each="bookrecord: ${bookrecordtable}">
				<td th:text="${bookrecord.id}"></td>
			<!--状態アイコンの分岐　ここから-->
				<td>
					<!-- 状態に応じて画像を切り替え -->
					<span th:switch="${bookrecord.book_status}">
						<span th:case="'読了'">
							<center><img th:src="@{/image/icon_done.png}" width="45" alt="読了"></center>
						</span>
						<span th:case="'積読'">
							<center><img th:src="@{/image/icon_tsundoku.png}" width="45" alt="積読"></center>
						</span>
						<span th:case="'読書中'">
							<center><img th:src="@{/image/icon_dokusyo.png}" width="45" alt="読書中"></center>
						</span>
					</span>
				</td>
				
<!--お気に入りアイコン表示の分岐-->
				<td>
					<!-- お気に入りが1なら、画像を表示する -->
					<span th:switch="${bookrecord.fav}">
						<span th:case="'1'">
							<center><img th:src="@{/image/icon_fav.png}" width="30" alt="お気に入り"></center>
						</span>
						<span th:case="'0'">
							<div></div>
						</span>
					</span>
				</td>
<!--お気に入りアイコン表示の分岐　ここまで-->

<!--書影-->
				<td>
					<img th:src="@{${bookrecord.image_url}}" alt="書籍の表紙" style="max-width: 50px; height: auto;" />	
				</td>
<!--タイトル-->
				<td th:text="${bookrecord.title}"></td>
<!--著者-->
				<td th:text="${bookrecord.author}"></td>
<!--読み始めた日-->
				<td th:text="${bookrecord.date_start}"></td>
<!--読み終わった日-->
				<td th:text="${bookrecord.date_finished}"></td>
<!--詳細・編集画面へのリンク-->
				<td>
					<a th:href="@{/bookrecordtable/{id}(id=${bookrecord.id})}">
<!--						詳細/編集-->
						<img th:src="@{/image/icon_edit.png}" width="50" alt="詳細/編集">
					</a>
				</td>
<!--検索ボタン-->
				<td>
				<a th:href="'https://www.google.com/search?q=' + ${bookrecord.title} + '+' + ${bookrecord.author}" target="_blank">
<!--				       <button>Googleで検索</button>-->
							<img th:src="@{/image/icon_google_search.png}" width="50" alt="Googleで検索">
				   </a>
				   </td>
			</tr>
		</tbody>
	</table>
<!--一覧表　ここまで-->

<!--ログアウト処理-->
<table class="table-invisible">
		<tr class="table-invisible">
			<td  class="table-invisible">
				<div align="right">
					<form th:action="@{/logout}" method="post">
						<button>ログアウト</button>
					</form>
				</div>
			</td>
		</tr>
</table>

</body>
</html>