<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>読書記録　一覧</title>
<link th:href="@{/stylesheet.css}" rel="stylesheet" />
<script>
<!--footer導入-->
//  fetch("/footer.html")
//    .then((response) => response.text())
//    .then((data) => document.querySelector("#footer").innerHTML = data);
</script>
</head>

<body>
	<h1>読書リスト　一覧</h1>
	<!--Flashメッセージの表示-->
	<center>
	<p class="p-flash" th:if="${message}" th:text="${message}" style="color: rgb(0, 200, 150);">完了メッセージ
	</p>
	<p class="p-flash" th:if="${errorMessage}"
		th:text="${errorMessage}" style="color: deeppink;">
		エラーメッセージ
	</p>
	</center>
	
	<div align="right">
	<button class="btn-edit" th:onclick="|location.href='@{/bookrecordtable/form}'|">新しい本を登録する</button>
	</div>
	
<main>
	<table class="table-list" border="1" >
		<thread>
			<tr>
				<th>ID</th>
				<th>状態
				</th>
<!--				<th>本の種類</th>-->
				<th>タイトル</th>
				<th>著者</th>
<!--				<th>出版社</th>-->
				<th>読書開始日</th>
				<th>読了日</th>
<!--				<th>購入日</th>-->
<!--				<th>価格</th>-->
<!--				<th>読書感想文</th>-->
				<th>書影</th>
				<th>詳細</th>
				<th>検索</th>
			</tr>
		</thread>
		<tbody>
			<tr th:each="bookrecord: ${bookrecordtable}">
				<td th:text="${bookrecord.id}"></td>
			<!--アイコンの分岐-->
				<td>
					<!-- 状態に応じて画像を切り替え -->
					<span th:switch="${bookrecord.book_status}">
						<span th:case="'読了'">
							<img th:src="@{/image/icon_done.png}" width="60" alt="読了">
						</span>
						<span th:case="'積読'">
							<img th:src="@{/image/icon_tsundoku.png}" width="60" alt="積読">
						</span>
						<span th:case="'読書中'">
							<img th:src="@{/image/icon_dokusyo.png}" width="60" alt="読書中">
						</span>
					</span>
				</td>
				
				<td th:text="${bookrecord.title}"></td>
				<td th:text="${bookrecord.author}"></td>
				<td th:text="${bookrecord.date_start}"></td>
				<td th:text="${bookrecord.date_finished}"></td>
				<td>
					<img th:src="@{${bookrecord.image_url}}" alt="書籍の表紙" style="max-width: 50px; height: auto;" />	
				</td>
				<td>
					<a th:href="@{/bookrecordtable/{id}(id=${bookrecord.id})}">
						詳細/編集
					</a>
				</td>
				<td>
				<a th:href="'https://www.google.com/search?q=' + ${bookrecord.title} + '+' + ${bookrecord.author}" target="_blank">
				       <button>Googleで検索</button>
				   </a>
				   </td>
			</tr>
		</tbody>
	</table>
</main>

<table>
	<div align="right">
<!--		<form th:action="@{/logout}" method="post">-->
<!--			<button>ログアウト</button>-->
<!--		</form>-->
<button id="logoutButton" class="btn-delete" type="submit" onclick="return confirmLogout()">ログアウト</button>

<script>
    function confirmLogout() {
        // 確認ダイアログを表示
        return confirm("本当にログアウトしますか？");
    }
</script>
	</div>
</table>

</body>
</html>