<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>読書記録　一覧</title>
<link th:href="@{/stylesheet.css}" rel="stylesheet" />
</head>

<body>
	<h2>読書リスト　一覧</h2>
	<!--Flashメッセージの表示-->
	<p th:if="${message}" th:text="${message}" style="color: #4c7c4c;">完了メッセージ
	</p>
	<p th:if="${errorMessage}"
		th:text="${errorMessage}" style="color: deeppink;">
		エラーメッセージ
	</p>
	
	<table border="1">
		<thread>
			<tr>
				<th>ID</th>
				<th>状態</th>
<!--				<th>本の種類</th>-->
				<th>タイトル</th>
				<th>著者</th>
<!--				<th>出版社</th>-->
				<th>読書開始日</th>
				<th>読了日</th>
<!--				<th>購入日</th>-->
<!--				<th>価格</th>-->
<!--				<th>読書感想文</th>-->
				<th>詳細</th>
				<th>検索</th>
			</tr>
		</thread>
		<tbody>
			<tr th:each="bookrecord: ${bookrecordtable}">
				<td th:text="${bookrecord.id}"></td>
				<td th:text="${bookrecord.book_status}"></td>
				<td th:text="${bookrecord.title}"></td>
				<td th:text="${bookrecord.author}"></td>
				<td th:text="${bookrecord.date_start}"></td>
				<td th:text="${bookrecord.date_finished}"></td>
				<td>
					<a th:href="@{/bookrecordtable/{id}(id=${bookrecord.id})}">
						詳細/編集
					</a>
				</td>
				<td>
				<a th:href="'https://www.google.com/search?q=' + ${bookrecord.title} + '+' + ${bookrecord.author}" target="_blank">
				       <button>Googleで検索</button>
				   </a>
				   </td>
			</tr>
		</tbody>
	</table>
	
	<center>
	<button class="btn-edit" th:onclick="|location.href='@{/bookrecordtable/form}'|">新規登録</button>
	</center>


</body>
</html>